/* Button Main */

.button .button_c-wrapper {
  scale: 1;
  transition: scale 0.2s ease-out;
}

.button:hover .button_c-wrapper {
  scale: 1.05;
}

.button .button_background-layer {
  transition: height 0.2s ease-out;
}

.button:hover .button_background-layer {
  height: 100%;
}

/* Button Secondary */

.button.is-secondary .icon-1x1-xsmall {
  transition: transform 0.2s ease-out;
}

.button.is-secondary:hover .icon-1x1-xsmall {
  transform: translate(0.5rem, 0px);
}

/* Button tabs */

.home_expertise_conic-background {
  border-radius: var(--border-radius--radius-0-5rem); /*1*/
  border: 2px solid transparent; /*2*/
  background: conic-gradient(from 150deg, #9e144f, #fedbcd, #055d46, #b5413e, #c4671b, #9e144f)
    border-box; /*3*/
  -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
  opacity: 0.25;
}

.home_expertise_tabs-link.w--current .home_expertise_radial-active {
  opacity: 0.1;
}

.home_expertise_tabs-link.w--current .home_expertise_conic-background {
  opacity: 0.5;
}

/* Button glass effect */

.home_expertise_tabs-link {
  position: relative;
  overflow: hidden;
}

.home_expertise_tabs-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0); */
}

.home_expertise_tabs-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.01), transparent);
  transition: 0.5s;
  transition-delay: 0.15s;
}

.home_expertise_tabs-link:hover:after {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.15), transparent);
  left: 100%;
}
