.w-mod-js.dark-mode .vision_listing_anim-wrapper {
  mix-blend-mode: difference;
}

.w-mod-js.dark-mode .vision_listing_anim-asset {
  mix-blend-mode: screen;
}

.w-mod-js.dark-mode .vision_listing_dark-lottie {
  display: flex;
}

.w-mod-js.dark-mode .vision_listing_white-lottie {
  display: none;
}

.w-mod-js.dark-mode .vision_listing_shadow-lottie {
  opacity: 0.5;
}
