.experts_team_cards {
  transition: transform 0.25s ease-in-out;
}

.experts_team_cards:hover {
  transform: translateY(-3.5rem);
}

.experts_team_cards-description {
  transition: opacity 0.25s ease-out;
}

.experts_team_cards:hover .experts_team_cards-description {
  opacity: 1;
}
