.vision_usecases_cards {
  transition: opacity 0.25 ease-out;
  width: 70%;
}

.swiper-slide.is-usecases.w-dyn-item.swiper-slide-active .vision_usecases_cards {
  border: 1px solid var(--light--border-color--border-primary);
  width: 100%;
  transition: width 0.5s ease-out;
}

.swiper-slide.is-usecases.w-dyn-item.swiper-slide-active
  .vision_usecases_cards
  .vision_usecases_assets {
  filter: grayscale(0%) blur(0px);
}

.swiper-slide.swiper-slide-next .vision_usecases_cards,
.swiper-slide.swiper-slide-prev .vision_usecases_cards {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide.swiper-slide-next + .swiper-slide .vision_usecases_cards {
  width: 80%;
  opacity: 1;
  margin-right: auto;
}

.swiper-slide:has(+ .swiper-slide-prev) .vision_usecases_cards {
  width: 80%;
  margin-left: auto;
}
